<div class="aui-ng2-content">

    <h2 class="component-heading" style="padding-bottom: 35px">Dialog</h2>

    <div>
        <h3>Message dialog</h3>

        <div class="aui-ng2-flatpack-example">
            <button class="aui-button" (click)="showDialog('ERROR', 'Sorry, an error...', 'Detailed information')">Error</button>
            <button class="aui-button" (click)="showDialog('WARN', 'Warning', 'Detailed information')">Warning</button>
            <button class="aui-button" (click)="showDialog('INFO', 'Info', 'Detailed information')">Info</button>
            <button class="aui-button" (click)="showDialog('SUCCESS', 'Yes, you did it', 'Detailed information')">Success</button>
            <button class="aui-button" (click)="showDialog('HINT', 'Did you know?', 'Detailed information')">Hint</button>
        </div>
    </div>
</div>
