<div class="aui-ng2-content">

    <h1 class="component-heading" style="padding-bottom: 35px">Dialog</h1>


    <div>
        <h2>Modal dialog</h2>

        <div class="aui-ng2-flatpack-example">
            <button class="aui-button" (click)="showCustomDialog()">Open custom dialog</button>
        </div>

        <auiNgCodeBlock title="Template custom dialog">
            ...
        </auiNgCodeBlock>
    </div>

    <div>
        <h2>Message dialog</h2>

        <div class="aui-ng2-flatpack-example">
            <button class="aui-button" (click)="showDialog('ERROR', 'Sorry, an error...', 'Detailed information')">Error</button>
            <button class="aui-button" (click)="showDialog('WARN', 'Warning', 'Detailed information')">Warning</button>
            <button class="aui-button" (click)="showDialog('INFO', 'Info', 'Detailed information')">Info</button>
            <button class="aui-button" (click)="showDialog('SUCCESS', 'Yes, you did it', 'Detailed information')">Success</button>
            <button class="aui-button" (click)="showDialog('HINT', 'Did you know?', 'Detailed information')">Hint</button>
        </div>

        <h2>Implementation details</h2>

        <auiNgCodeBlock title="Template">
            <textarea ngNonBindable>
              <button class="aui-button" _sb_click_eb_="showDialog('ERROR', 'Sorry, an error...', 'Detailed information')">Error</button>
            </textarea>
        </auiNgCodeBlock>

        <auiNgCodeBlock title="Component" lang="javascript">
          <textarea ngNonBindable>
            import {Component} from '@angular/core';
            import {AuiNgDialogService, AuiNgMessageType} from '../../src/dialog/index';

            @Component({
                ...
                providers: [AuiNgDialogService]
            })
            export class DialogDemoComponent {
                showDialog(type: string, title: string, msg: string) {
                    this.dialogService.openMessageDialog(title, msg, AuiNgMessageType[type], this.element);
                }
            }
          </textarea>
        </auiNgCodeBlock>

        <h2>Options</h2>

      <auiNgCodeBlock title="AuiNgMessageType" lang="javascript">
        <textarea ngNonBindable>
          export const AuiNgMessageType = {
              ERROR: 'error',
              WARN: 'warning',
              SUCCESS: 'success',
              INFO: 'info',
              HINT: 'hint'
          };
        </textarea>
      </auiNgCodeBlock>

    </div>
</div>