<div class="aui-ng2-content">

    <h1 class="component-heading" style="padding-bottom: 35px">Tabs</h1>


    <div>
        <h2>Tabs</h2>

        <div class="aui-ng2-flatpack-example">

            <auiNgTabs>

                <auiNgTab title="First Tab">
                    ... content first tab ...
                </auiNgTab>

                <auiNgTab title="Second Tab">
                    ... content second tab ...
                </auiNgTab>

                <auiNgTab title="Third Tab">
                    ... content third tab ...
                </auiNgTab>

            </auiNgTabs>

        </div>

        <auiNgCodeBlock title="Template tabs">
            <textarea ngNonBindable>
              <auiNgTabs>

                  <auiNgTab title="First Tab">
                      ... content first tab ...
                  </auiNgTab>

                  <auiNgTab title="Second Tab">
                      ... content second tab ...
                  </auiNgTab>

                  <auiNgTab title="Third Tab">
                      ... content third tab ...
                  </auiNgTab>

              </auiNgTabs>
            </textarea>
        </auiNgCodeBlock>
    </div>

</div>