<div class="aui-ng2-content">

    <h1 class="component-heading" style="padding-bottom: 35px">Tooltips</h1>


    <div>
        <h2>Tooltips</h2>



        <div class="aui-ng2-flatpack-example">

            <a href="javascript:" title="Test title without tooltip">Test title without tooltip</a>
            <br>
            <a href="javascript:" title="Test title with tooltip" auiNgTooltip>Test title with tooltip</a>

        </div>

        <auiNgCodeBlock title="Template tooltips">
            ...
        </auiNgCodeBlock>
    </div>

</div>